<h2 style="font-family: monospace;text-align: center;color: black">Take Order</h2>
<div class="container">
    <form>
        <h3 style="font-family: monospace;color: black">Enter Table Id : </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="No" name="No"
                    placeholder="Enter Table Id"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Check Food For Order</h3>
        <div *ngFor="let item of menus">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label style="font-family: monospace;color: black" class="form-check-label" for="defaultCheck1">&nbsp;
                    {{item.itemDesc}}
                </label>
            </div>
        </div>
        <button style="margin-top: 5px;font-size: 30px" type="submit" class="btn btn-success">Submit Order</button>
    </form>
</div>