<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Current Employee List</h2>
    <div class="container" style="background-color: black">
        <table class="table" style="color: white;font-family: monospace;font-size: 20px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of emps">
                    <td><a routerLink="/admin/updateemp/{{item.employeeId}}">{{item.employeeId}}</a></td>
                    <td>{{item.employeeName}}</td>
                    <td>{{item.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>