<div>
    <h2 style="font-family: monospace;text-align: center;color: black">My Reservations</h2>
    <div class="container" style="background-color: black">
        <table class="table" style="color: white;font-family: monospace;font-size: 20px">
            <thead>
                <tr>
                    <th>Reservation Date</th>
                    <th>No. of People</th>
                    <th>Reservation Details</th>
                    <th>Delete Reservation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of reservations">
                    <td>{{item.resDate}}</td>
                    <td>{{item.resNumberOfPeople}}</td>
                    <td>{{item.resDetails}}</td>
                    <td><button (click)="deleteMyReservation(item.resId)" style="font-size: 20px;" type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
