<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Order Details</h2>
    <!-- <table *ngFor="let item of ordereditems">
        <tr><h4 style="font-family: monospace;text-align: center;color: black">{{item.itemName}} x {{item.itemQty}}</h4></tr>
    </table> -->
    <div style="border: black 1px solid; border-radius: 40px">
        <h4 style="font-family: monospace;text-align: center;color: black">Order Id : 1</h4>
        <table>
            <tr>
                <h4 style="font-family: monospace;text-align: center;color: black">Panner x 2</h4>
            </tr>
            <tr>
                <h4 style="font-family: monospace;text-align: center;color: black">Roti x 6</h4>
            </tr>
            <tr>
                <h4 style="font-family: monospace;text-align: center;color: black">Sweet x 3</h4>
            </tr>
        </table>
        <h4 style="font-family: monospace;text-align: center;color: black">Total Amount : Rs 450</h4>
    </div>
</div>