<!-- <div id="second1"></div>
<div id="second2img" data-wow-delay="0.5s">

    <div>
        <div style="margin-top: 250px" class="wordswhite" id="subdiv1">
            <h2>About Rosewood</h2>
        </div>
        <p style="margin-top: 400px" class="wordswhitepara">
            Established in 2020 Rosewood is a distinctive collection of highly individual restaurant
            inspired by the culture, history and geography of each locale.
            Rosewood is an American Grill that offers a comprehensive menu of American fare with an Indian touch,
            featuring our exclusive Tex-Mex spread.We outdoor seating areas and 1 elegant indoor seating area
            with a live kitchen access for you to see us work our magic.
            Rosewood is your home for great times in downtown Pune.
        </p>
    </div>
</div> -->
<div class="a1">
</div>
<br>
<div class="container" style="font-family: monospace;color: black;font-size: 25px;background-color: white">
    <h2 style="text-align: center">About Rosewood</h2>
        Established in 2020 Rosewood is a distinctive collection of highly individual restaurant
        inspired by the culture, history and geography of each locale.
        Rosewood is an American Grill that offers a comprehensive menu of American fare with an Indian touch,
        featuring our exclusive Tex-Mex spread.We outdoor seating areas and 1 elegant indoor seating area
        with a live kitchen access for you to see us work our magic.
        Rosewood is your home for great times in downtown Pune.
</div>