<form style="font-family: monospace" class="box" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div style="color: white;font-size: 20px">
        <h2 style="text-align: center">Location</h2>
        9th Floor, Stellar Spaces, Opp. Zensar IT Park, Kharadi South Main Road,
                    Kharadi, Pune, Maharashtra 411014
    </div>
    <hr>
    <div style="color: white;font-size: 20px">
        <h2 style="text-align: center">Call Us</h2>
        12:00 P.M to 12:00 AM +91 9561142619 & +91 9179524805 & +91 8999357966
    </div>
    <hr>
    <div style="color: white;font-size: 20px">
        <h2 style="text-align: center">Contact Us</h2>
        Get support via email care@rosewood.in
    </div>
    <hr>
    <div style="color: white;font-size: 10px">
        <h4 style="text-align: center">Developed By</h4>
        Shubham
    </div>
</form>
