<div class="image">
    <!-- <h1 style="color: white;font-family: garamond">ROSEWOOD</h1> -->
</div>
<div id="second1"></div>
<div id="second2img" data-wow-delay="0.5s">
    <div style="margin-top: 400px" class="wordswhite" id="subdiv1">
        <h2>GOOD TIME STARTS HERE!</h2>
    </div>
    <div>
        <p style="margin-top: 500px" class="wordswhitepara">Rosewood is an American Grill and Bar that offers a
            comprehensive menu of American fare with an Indian touch, featuring our exclusive Tex-Mex spread. This is
            complemented with our premier selection of liquor and bar menu. We house 3 bars,
            2 sensuous outdoor seating areas and 1 elegant indoor seating area with a live kitchen access for you to see
            us work our magic. Rosewood is your home for great times.</p>
        <br>
        <br>
    </div>
</div>
<div id="second1">
    <a name="menu"></a>
    <div id="three1img"></div>
</div>
<div id="three1"></div>
<!-- <div id="four1">
    <a name="contact"></a>
    <table style="height: 50%" id="fourtb">
        <tr id="up" border="1 solid black">
            <td style="width: 33%">
                <h2 style="color: black; text-align: center">Location</h2>
                <p style="color: black">9th Floor, Stellar Spaces, Opp. Zensar IT Park, Kharadi South Main Road,
                    Kharadi, Pune, Maharashtra 411014</p>
            </td>
            <td style="width: 33%">
                <h2 style="color: black; text-align: center">Call Us</h2>
                <p style="color: black">12:00 P.M to 12:00 AM +91 9561142619 & +91 9179524805 & +91 8999357966</p>
            </td>
            <td style="width: 33%">
                <h2 style="color: black; text-align: center">Mail Us</h2>
                <p style="color: black;text-align: center">Get support via email care@rosewood.in
                </p>
            </td>
        </tr>
        <tr id="down">
            <td colspan="3"></td>
        </tr>
    </table>
</div> -->