<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Edit Profile</h2>
    <form>
        <h3 style="font-family: monospace;color: black">Name </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="name" name="name"
                    placeholder="Name"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Email </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="email" class="form-control" id="email" name="email"
                    placeholder="Email"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Phone Number </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="phnumber" name="phnumber"
                    placeholder="Phone Number "></span>
        </div>
        <h3 style="font-family: monospace;color: black">Flat No </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="flatno" name="flatno"
                    placeholder="Flat No "></span>
        </div>
        <h3 style="font-family: monospace;color: black">Building Name </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="buildingname" name="buildingname"
                    placeholder="Building Name "></span>
        </div>
        <h3 style="font-family: monospace;color: black">Area </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="area" name="area"
                    placeholder="Area"></span>
        </div>
        <h3 style="font-family: monospace;color: black">City </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="city" name="city"
                    placeholder="City"></span>
        </div>
        <button style="margin-top: 5px;font-size: 30px" type="submit" class="btn btn-success">Edit Profile</button>
    </form>
</div>