<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Edit Profile</h2>
    <form #myForm="ngForm" (ngSubmit)="onEditProfile(myForm)">
        <h3 style="font-family: monospace;color: black">Name </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" type="text" class="form-control" id="name" name="name"
                    [(ngModel)]="user.name" placeholder="Name"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Email </h3>
        <div class="form-group">
            <span><input readonly style="width: 500px" type="email" class="form-control" id="email"
                    name="email" [(ngModel)]="user.email" placeholder="Email"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Phone Number </h3>
        <div class="form-group">
            <span><input style="width: 500px" type="text" class="form-control" id="phoneNumber"
                    name="phoneNumber" [(ngModel)]="user.phoneNumber" placeholder="Phone Number "></span>
        </div>
        <h3 style="font-family: monospace;color: black">Flat No </h3>
        <div class="form-group">
            <span><input style="width: 500px" type="text" class="form-control" id="flatNo"
                    name="flatNo" [(ngModel)]="user.address.flatNo" placeholder="Flat No "></span>
        </div>
        <h3 style="font-family: monospace;color: black">Building Name </h3>
        <div class="form-group">
            <span><input style="width: 500px" type="text" class="form-control" id="buildingName"
                    name="buildingName" [(ngModel)]="user.address.buildingName" placeholder="Building Name "></span>
        </div>
        <h3 style="font-family: monospace;color: black">Area </h3>
        <div class="form-group">
            <span><input style="width: 500px" type="text" class="form-control" id="area" name="area"
                    [(ngModel)]="user.address.area" placeholder="Area"></span>
        </div>
        <h3 style="font-family: monospace;color: black">City </h3>
        <div class="form-group">
            <span><input style="width: 500px" type="text" class="form-control" id="city" name="city"
                    [(ngModel)]="user.address.city" placeholder="City"></span>
        </div>
        <button style="margin-top: 5px;font-size: 30px" type="submit" class="btn btn-success">Edit Profile</button>
    </form>
</div>