<div>
    <h2 style="font-family: monospace;text-align: center;color: black">My Orders</h2>
    <div class="container" style="background-color: black">
        <table class="table" style="color: white;font-family: monospace;font-size: 20px">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>Order Type</th>
                    <th>Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of myOrder">
                    <td><a title="Click To Expand"
                            routerLink="/customer/orderdetails/{{item.orderId}}">{{item.orderId}}</a></td>
                    <td>{{item.orderDate}}</td>
                    <td>{{item.orderType}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>