<h2 style="font-family: monospace;text-align: center;color: black">Online Order Status</h2>
<div class="container" style="background-color: black">
    <table class="table" style="color: white;font-family: monospace;font-size: 20px">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Order Type</th>
                <th>Change Status</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let item of orderStatus">
                <td><a routerLink="/admin/showorderdetails/{{item.orderId}}">{{item.orderId}}</a></td>
                <td>{{item.orderDate}}</td>
                <td>{{item.orderType}}</td>
                <td *ngIf="item.orderType == 'HOMEDELIVERY' && item.status == 'PENDING'" ><button (click)="changeStatus(item.orderId)" type="submit" class="btn btn-danger">{{item.status}}</button></td>
                <td *ngIf="item.orderType == 'HOMEDELIVERY' && item.status == 'DELIVERED'" ><button disabled type="submit" class="btn btn-success">{{item.status}}</button></td>
                <td *ngIf="item.orderType == 'DINEIN'" >No Status</td>
            </tr>
        </tbody>
    </table>
</div>