<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Customer Details</h2>
    <!-- <table *ngFor="let item of ordereditems">
        <tr><h4 style="font-family: monospace;text-align: center;color: black">{{item.itemName}} x {{item.itemQty}}</h4></tr>
    </table> -->
    <!-- <div style="border: black 1px solid; border-radius: 40px"> -->
    <h4 style="font-family: monospace;text-align: center;color: black">Order Details</h4>
    <div class="container" style="background-color: black">
        <table class="table" style="color: white;font-family: monospace;font-size: 20px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of details">
                    <td>{{item.orderId}}</td>
                    <td>{{item.orderDate}}</td>
                    <td>{{item.orderType}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 style="font-family: monospace;text-align: center;color: black">Reservations Details</h4>
    <div class="container" style="background-color: black">
        <table class="table" style="color: white;font-family: monospace;font-size: 20px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Details</th>
                    <th>No. Of People</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of reseravtions">
                    <td>{{item.resId}}</td>
                    <td>{{item.resDate}}</td>
                    <td>{{item.resDetails}}</td>
                    <td>{{item.resNumberOfPeople}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>