<h2 style="font-family: monospace;text-align: center;color: black">Reservations</h2>
<div class="container">
    <form #myForm="ngForm" (ngSubmit)="addReservation(myForm)">
        <h3 style="font-family: monospace;color: black">Number Of People</h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="resNumberOfPeople" name="resNumberOfPeople"
                    placeholder="No. of people"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Reservation Details</h3>
        <div class="form-group">
            <span><input style="width: 500px" ngModel type="text" class="form-control" id="resDetails" name="resDetails"
                    placeholder="Details"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Reservation Date</h3>
        <div class="form-group">
            <span><input style="width: 500px" ngModel type="Date" class="form-control" id="resDate" name="resDate"
                    placeholder="Date"></span>
        </div>
        <!-- <input name="custId" value={{id}}> -->
        <button style="margin-top: 5px;font-size: 30px" type="submit" class="btn btn-success">Reserve Table</button>
    </form>
</div>