<div class="container" style="max-width: 1838px;">
    <nav>
        <input type="checkbox" id="nav" class="hidden">
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="logo">
            <a href="#">BRAND</a>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/home/login">Login</a></li>
                <!-- <li><a routerLink="/home/onlineorder">Order Online</a></li> -->
                <li><a routerLink="/home/menu">Menu</a></li>
                <li><a routerLink="#about">About</a></li>
                <li><a routerLink="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- <input type="button" value="LOGIN"> -->
    </nav>
</div>
<router-outlet></router-outlet>
