<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Change Password</h2>
    <form>
        <h3 style="font-family: monospace;color: black">Email </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="email" name="email"
                    placeholder="Email"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Old Password </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="email" class="form-control" id="oldpass" name="oldpass"
                    placeholder="Old Password"></span>
        </div>
        <h3 style="font-family: monospace;color: black">New Password </h3>
        <div class="form-group">
            <span><input autofocus style="width: 500px" ngModel type="text" class="form-control" id="newpass" name="newpass"
                    placeholder="New Password"></span>
        </div>
        <button style="margin-top: 5px;font-size: 30px" type="submit" class="btn btn-success">Edit Profile</button>
    </form>
</div>