<div class="container">
    <h2 style="font-family: monospace;text-align: center;color: black">Change Password</h2>
    <form #myForm="ngForm" (ngSubmit)="onChangePassword(myForm)">
        <h3 style="font-family: monospace;color: black">Email </h3>
        <div class="form-group">
            <span><input readonly style="width: 500px" type="text" class="form-control" id="email" name="email"
                    [(ngModel)]="user.email" placeholder="Email"></span>
        </div>
        <h3 style="font-family: monospace;color: black">Old Password </h3>
        <div class="form-group">
            <span><input readonly style="width: 500px" type="email" class="form-control" id="password" name="password"
                    [(ngModel)]="user.password" placeholder="Old Password"></span>
        </div>
        <h3 style="font-family: monospace;color: black">New Password </h3>
        <div class="form-group">
            <span><input style="width: 500px" type="text" class="form-control" id="newpassword" name="newpassword"
                    ngModel placeholder="New Password"></span>
        </div>
        <button style="margin-top: 5px;font-size: 30px" type="submit" class="btn btn-success">Change Password</button>
    </form>
</div>